<div xmlns:th="http://www.thymeleaf.org" th:fragment="navbar">
    <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar">
        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-4 me-xl-0 d-xl-none">
            <a class="nav-item nav-link px-0 me-xl-6" href="javascript:void(0)">
                <i class="bx bx-menu bx-md"></i>
            </a>
        </div>

        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
            <!-- Search -->
            <div class="navbar-nav align-items-center">
                <div class="nav-item d-flex align-items-center">
                    <i class="bx bx-search bx-md"></i>
                    <input
                            type="text"
                            class="form-control border-0 shadow-none ps-1 ps-sm-2"
                            placeholder="Search..."
                            aria-label="Search..."/>
                </div>
            </div>
            <!-- /Search -->


            <ul class="nav nav-pills flex-row align-items-center ms-auto" role="tablist">
                <li class="nav-item d-flex align-items-center">
                    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                        <div class="me-2 text-end">
                            <h6 class="mb-0">
                                <span th:text="${user.name}"></span>
                            </h6>
                            <small><span th:text="${user.role}"></span></small>
                        </div>
                    </div>
                    <div class="avatar flex-shrink-0 me-3">
                        <span class="avatar-initial rounded bg-label-primary"><i class="bx bx-user"></i></span>
                    </div>
                </li>
            </ul>

        </div>
    </nav>
</div>