<!doctype html>

<html
        lang="en"
        class="light-style layout-menu-fixed layout-compact"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="/common/sneat_template/assets/"
        data-template="vertical-menu-template-free"
        data-style="light"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

    <title>Home | DLRS</title>

    <meta name="description" content=""/>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/common/sneat_template/assets/img/favicon/favicon.ico"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@latest/ol.css" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"/>

    <link rel="stylesheet" href="/common/sneat_template/assets/vendor/fonts/boxicons.css"/>

    <!-- Core CSS -->
    <link rel="stylesheet" href="/common/sneat_template/assets/vendor/css/core.css"
          class="template-customizer-core-css"/>
    <link rel="stylesheet" href="/common/sneat_template/assets/vendor/css/theme-default.css"
          class="template-customizer-theme-css"/>
    <link rel="stylesheet" href="/common/sneat_template/assets/css/demo.css"/>

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/common/sneat_template/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css"/>
    <link rel="stylesheet" href="/common/sneat_template/assets/vendor/libs/apex-charts/apex-charts.css"/>

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="/common/sneat_template/assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/common/sneat_template/assets/js/config.js"></script>
</head>

<body>
<!-- Layout wrapper -->

<div id="map" style="width: 100%; height: 500px;"></div>


<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->

<script src="/common/sneat_template/assets/vendor/libs/jquery/jquery.js"></script>
<script src="/common/sneat_template/assets/vendor/libs/popper/popper.js"></script>
<script src="/common/sneat_template/assets/vendor/js/bootstrap.js"></script>
<script src="/common/sneat_template/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/common/sneat_template/assets/vendor/js/menu.js"></script>

<!-- endbuild -->

<!-- Vendors JS -->
<script src="/common/sneat_template/assets/vendor/libs/apex-charts/apexcharts.js"></script>

<!-- Main JS -->
<script src="/common/sneat_template/assets/js/main.js"></script>

<!-- Page JS -->
<script src="/common/sneat_template/assets/js/dashboards-analytics.js"></script>

<!-- Place this tag before closing body tag for github widget button. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script th:src="@{/javascript/logout.js}" type="text/javascript"></script>
<script th:src="@{/javascript/dashboard.js}" type="text/javascript"></script>


<script>
        // Create a map instance
        const map = new ol.Map({
            target: 'map', // The id of the map div
            layers: [
                // Add a tile layer with OpenStreetMap
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                })
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat([0, 0]), // Center map on longitude 0, latitude 0
                zoom: 2 // Set the initial zoom level
            })
        });
    </script>

</html>
